<section class="about-us" id="about_us">
  <div class="container about-us-container">
    <div class="about-us-wrap">
      <h2 class="about-us-title">About Us</h2>
      <ul class="about-us-list">
        <li class="about-us-item">
          <p class="about-us-descr">
            Welcome to our premium watch collection, where luxury and style meet
            functionality and precision. Our selection of timepieces embodies
            the very best in Swiss craftsmanship and engineering, ensuring that
            you'll always have a reliable and stylish accessory on your wrist.
          </p>
        </li>
        <li class="about-us-item">
          <p class="about-us-descr">
            At our premium watch collection, we believe that a watch is more
            than just a timekeeping device - it's a statement piece that
            reflects your personality and style. So why settle for anything less
            than the best?
          </p>
        </li>
      </ul>
      <a href="#catalog" class="about-us-btn">View catalog</a>
    </div>
    <picture class="about-class">
      <source
        media="(min-width: 1280px)"
        srcset="
          ./img/about-us/watch-au-desk.webp    1x,
          ./img/about-us/watch-au-desk@2x.webp 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./img/about-us/watch-au-tab.webp    1x,
          ./img/about-us/watch-au-tab@2x.webp 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ./img/about-us/watch-au-mob.webp    1x,
          ./img/about-us/watch-au-mob@2x.webp 2x
        "
      />
      <img
        src="./img/about-us/watch-au-desk.webp"
        alt="unclear what kind of watch this is"
        class="about-us-img"
      />
    </picture>
  </div>
</section>
