<section class="contact-us" id="contact">
  <div class="container">
    <h2 class="contact-title">Contact Us</h2>
    <div class="contact-container">
      <div class="contact-wrap">
        <p class="contact-text">
          Please use the form below to contact us. Enter your name, email,
          phone, and message and we'll get back to you shortly.
        </p>
        <form class="contact-form-container">
          <label for="user-name" class="contact-label">
            <input
              type="text"
              id="user-name"
              name="user-name"
              class="contact-input"
              placeholder="Name"
              required
            />
          </label>
          <label for="user-email" class="contact-label">
            <input
              type="email"
              id="user-email"
              name="user-email"
              class="contact-input"
              placeholder="Email"
              pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
              required
            />
          </label>
          <label for="user-phone" class="contact-label">
            <input
              type="tel"
              id="user-phone"
              name="user-phone"
              class="contact-input"
              placeholder="+380"
              pattern="^\+\d{3}-\d{2}-\d{3}-\d{2}-\d{2}$"
              required
              inputmode="numeric"
            />
          </label>
          <label for="user-comment" class="contact-label">
            <textarea
              class="contact-textarea"
              name="user-comment"
              placeholder="Comment"
              id="user-comment"
            ></textarea>
          </label>
        </form>
        <button type="submit" class="contact-btn">Send</button>
      </div>
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            /img/contact-us/watch-us-desk.png    1x,
            /img/contact-us/watch-us-desk@2x.png 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /img/contact-us/watch-us-top.png    1x,
            /img/contact-us/watch-us-top@2x.png 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            /img/contact-us/watch-us-mob.png    1x,
            /img/contact-us/watch-us-mob@2x.png 2x
          "
        />
        <img
          src="/img/contact-us/watch-us.jpg"
          alt="watch"
          class="contact-img"
        />
      </picture>
    </div>
  </div>
</section>
