<section class="contact-us">
  <div class="container">
    <h2 class="contact-title">Contact Us</h2>
    <div class="contact-container">
      <div class="contact-wrap">
        <p class="contact-text">
          Please use the form below to contact us. Enter your name, email,
          phone, and message and we'll get back to you shortly.
        </p>
        <div class="contact-wrap-container">
          <label for="user-name" class="contact-label">
            <input
              type="text"
              id="user-name"
              name="user-name"
              class="contact-input"
              placeholder="Name"
            />
          </label>
          <label for="user-email" class="contact-label">
            <input
              type="text"
              id="user-email"
              name="user-email"
              class="contact-input"
              placeholder="Email"
            />
          </label>
          <label for="user-phone" class="contact-label">
            <input
              type="text"
              id="user-phone"
              name="user-phone"
              class="contact-input"
              placeholder="+380"
            />
          </label>
          <label for="" class="contact-label">
            <textarea
              class="contact-textarea"
              name="user-comment"
              placeholder="Comment"
              id="user-comment"
            ></textarea>
          </label>
          <button type="button" class="contact-btn">Send</button>
        </div>
      </div>
      <div class="contact-img-container">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/contact-us/watch-us-desk.png    1x,
              ./img/contact-us/watch-us-desk@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/contact-us/watch-us-top.png    1x,
              ./img/contact-us/watch-us-top@2x.png 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/contact-us/watch-us-mob.png    1x,
              ./img/contact-us/watch-us-mob@2x.png 2x
            "
          />
          <img
            src="../img/contact-us/watch-us.jpg"
            alt="watch"
            width="704"
            class="contact-img"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
