<footer class="footer" id="footer">
    <div class="container footer-pk">
        <div class="footer-container">

            <div class="footer-main">

                <div class="main-link-cont">
                    <a href="/src/index.html" class="main-link">watchcharm</a>

                    <ul class="mob-icon-menu">
                        <li class="icon-social">
                            <a href="https://www.facebook.com/goITclub/" class="social-icon-link">
                                <svg class="icon-add">
                                    <use href="/img/sprite.svg#icon-facebook"></use>
                                </svg>
                            </a>
                        </li>

                        <li class="icon-social">
                            <a href="https://www.instagram.com/goitclub/" class="social-icon-link">
                                <svg class="icon-add">
                                    <use href="/img/sprite.svg#icon-instagram"></use>
                                </svg>
                            </a>
                        </li>

                        <li class="icon-social">
                            <a href="https://www.youtube.com/c/GoIT" class="social-icon-link">
                                <svg class="icon-add">
                                    <use href="/img/sprite.svg#icon-youtube"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>


                <a class="nav-link-tell" href="tel:+380684439426">+380 (68) 443-94-26</a></li>
                <h4 class="main-title">Have the time of your life with our watches: where high-class craftsmanship meets
                    impeccable design</h4>
            </div>

            <div class="footer-section-links">
                <nav class="footer-menu">
                    <ul class="footer-links">
                        <li class="second-link">
                            <a href="/src/index.html">Home</a>
                        </li>
                        <li class="second-link">
                            <a href="#about">About Us</a>
                        </li>
                        <li class="second-link">
                            <a href="#catalog">Catalog</a>
                        </li>
                        <li class="second-link">
                            <a href="#sale">Sale</a>
                        </li>
                        <li class="second-link">
                            <a href="#reviews">Reviews</a>
                        </li>
                        <li class="second-link">
                            <a href="#contact">Contact Us</a>
                        </li>
                    </ul>
                </nav>
                <address class="footer-adress">
                    <a class="link-text" href="">1678 S. Pioneer Road Salt Lake City UT 84104</a>
                </address>
            </div>

            <div class="footer-line"></div>
            <div class="links-politic-conf">
                <p class="link-polic">&copy;2023 The Watch Spot. All rights reserved.</p>

                <div class="footer-menu-policy">
                    <a class="link-polic" href="">Terms of Service</a>
                    <a class="link-polic" href="">Privacy Policy</a>
                </div>
            </div>
        </div>
    </div>
</footer>