<header class="header">
  <div class="container header-container">
    <a class="logo" href="/WatchCharm/">watchcharm</a>
    <button class="header-btn" data-modal-open>
      <svg width="30" height="12" class="header-btn-icon">
        <use href="/img/sprite.svg#icon-burg"></use>
      </svg>
    </button>
    <ul class="nav-list">
      <li class="nav-item">
        <a class="nav-item-link" href="/WatchCharm/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-item-link" href="#about">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-item-link" href="#catalog">Catalog</a>
      </li>
      <li class="nav-item">
        <a class="nav-item-link" href="#sale">Sale</a>
      </li>
      <li class="nav-item">
        <a class="nav-item-link" href="#reviews">Reviews</a>
      </li>
      <li class="nav-item">
        <a class="nav-item-link" href="#contact">Contact Us</a>
      </li>
    </ul>
    <ul class="nav-list-soc">
      <li class="nav-item-soc">
        <a
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          class="nav-item-soc-link"
          ><svg width="20" height="20" class="icon-soc">
            <use href="/img/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="nav-item-soc">
        <a
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          class="nav-item-soc-link"
          ><svg width="20" height="20" class="icon-soc">
            <use href="/img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="nav-item-soc">
        <a
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          class="nav-item-soc-link"
          ><svg width="20" height="20" class="icon-soc">
            <use href="/img/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
