<section class="hero">
  <div class="container">
    <div class="hero-info-wrap">
      <h1 class="hero-title">
        Welcome to our <span class="hero-span">collection</span> of premium
        watches
      </h1>
      <p class="hero-text">
        Our watches are not just timepieces, but also an expression of your
        personality and lifestyle. From classic designs to modern ones, we have
        a watch to suit every taste and occasion.
      </p>
    </div>
    <div class="hero-img-link-wrap">
      <div class="group-img-wrap">
        <!-- <div class="img-one"> -->
        <img
          class="trio-img one"
          srcset="/img/hero-img/trio1.webp 1x, /img/hero-img/trio1-2x.webp 2x"
          src="/img/hero-img/trio1.webp"
          alt="person"
          width="60"
          height="60"
        />
        <!-- </div> -->
        <!-- <div class="img-two"> -->
        <img
          class="trio-img two"
          srcset="/img/hero-img/trio2.webp 1x, /img/hero-img/trio2-2x.webp 2x"
          src="/img/hero-img/trio2.webp"
          alt="person"
          width="60"
          height="60"
        />
        <!-- </div> -->
        <!-- <div class="img-three"> -->
        <img
          class="trio-img three"
          srcset="/img/hero-img/trio3.webp 1x, /img/hero-img/trio3-2x.webp 2x"
          src="/img/hero-img/trio3.webp"
          alt="person"
          width="60"
          height="60"
        />
        <!-- </div> -->
      </div>
      <div class="hero-link-wrap">
        <a class="scrol-link" href="#">Scroll down</a>
      </div>
    </div>

    <picture class="hero-watch">
      <source
        srcset="
          /img/hero-img/hero-watch.webp    1x,
          /img/hero-img/hero-watch-2x.webp 2x
        "
        media="(min-width:1280px)"
      />
      <source
        srcset="
          /img/hero-img/hero-watch-tab.webp    1x,
          /img/hero-img/hero-watch-tab-2x.webp 2x
        "
        media="(min-width:768px)"
      />
      <source
        srcset="
          /img/hero-img/hero-watch-phone.webp    1x,
          /img/hero-img/hero-watch-phone-2x.webp 2x
        "
        media="(max-width:375px)"
      />
      <img
        class="portfolio-image"
        src="/img/hero-img/hero-watch-phone.webp"
        alt="watch"
        width="1150"
      />
    </picture>
  </div>
</section>
