<section id="sale" class="sale">
  <div class="container">
    <h2 class="sale-title">Sale</h2>
    <ul class="sale-list">
      <li class="sale-item">
        <div class="sale-item-picture-wrap">
          <picture>
            <source
              media="(min-width: 1280px )"
              srcset="
                /img/sale/sale-desk-1-min.png    1x,
                /img/sale/sale-desk-1@2x-min.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/sale/sale-tab-1-min.png    1x,
                /img/sale/sale-tab-1@2x-min.png 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/sale/sale-mob-1-min.png    1x,
                /img/sale/sale-mob-1@2x-min.png 2x
              "
            />
            <img
              src="/img/sale/sale-desk-1-min.png"
              alt="Sport smartwatch with digital display and black strap"
              width="96"
              height="100"
            />
          </picture>
        </div>
      </li>
      <li class="sale-item">
        <div class="sale-item-picture-wrap">
          <picture>
            <source
              media="(min-width: 1280px )"
              srcset="
                /img/sale/sale-desk-2-min.png    1x,
                /img/sale/sale-desk-2@2x-min.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/sale/sale-tab-2-min.png    1x,
                /img/sale/sale-tab-2@2x-min.png 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/sale/sale-mob-2-min.png    1x,
                /img/sale/sale-mob-2@2x-min.png 2x
              "
            />
            <img
              src="/img/sale/sale-desk-2-min.png"
              alt="Smartwatch displaying weather, activity, and calendar information"
              width="96"
              height="100"
            />
          </picture>
        </div>
      </li>
      <li class="sale-item">
        <div class="sale-item-picture-wrap">
          <picture>
            <source
              media="(min-width: 1280px )"
              srcset="
                /img/sale/sale-desk-3-min.png    1x,
                /img/sale/sale-desk-3@2x-min.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/sale/sale-tab-3-min.png    1x,
                /img/sale/sale-tab-3@2x-min.png 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/sale/sale-mob-3-min.png    1x,
                /img/sale/sale-mob-3@2x-min.png 2x
              "
            />
            <img
              src="/img/sale/sale-desk-3-min.png"
              alt="Side view of smartwatch with control buttons and black strap"
              width="96"
              height="100"
            />
          </picture>
        </div>
      </li>
      <li class="sale-item">
        <div class="sale-item-picture-wrap">
          <picture>
            <source
              media="(min-width: 1280px )"
              srcset="
                /img/sale/sale-desk-4-min.png    1x,
                /img/sale/sale-desk-4@2x-min.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/sale/sale-tab-4-min.png    1x,
                /img/sale/sale-tab-4@2x-min.png 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/sale/sale-mob-4-min.png    1x,
                /img/sale/sale-mob-4@2x-min.png 2x
              "
            />
            <img
              src="/img/sale/sale-desk-4-min.png"
              alt="Sport smartwatch with digital display and black strap"
              width="96"
              height="100"
            />
          </picture>
        </div>
      </li>
      <li class="sale-item">
        <div class="sale-item-picture-wrap sale-item-picture-big-wrap">
          <picture>
            <source
              media="(min-width: 1280px )"
              srcset="
                /img/sale/sale-desk-5-min.png    1x,
                /img/sale/sale-desk-5@2x-min.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/sale/sale-tab-5-min.png    1x,
                /img/sale/sale-tab-5@2x-min.png 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/sale/sale-mob-5-min.png    1x,
                /img/sale/sale-mob-5@2x-min.png 2x
              "
            />
            <img
              src="/img/sale/sale-desk-5-min.png"
              alt="Sport smartwatch with digital display and black strap"
              width="96"
              height="100"
            />
          </picture>
        </div>
      </li>
    </ul>
  </div>
</section>
