.menu-overlay {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  width: 200px;
  height: 100%;

  padding-top: 240px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../img/mob-menu/menu-mob.jpg);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
@media screen and (min-resolution: 2x) {
  .menu-overlay {
    background-image: url(../img/mob-menu/menu-mob-2x.jpg);
  }
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.menu-cls-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background-color: transparent;
}

.cls-btn-icon {
  stroke: #fbfbfb;
}

.menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.menu-item {
}

.menu-link {
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #fbfbfb;
  position: relative;
  padding: 2px;
}
.menu-link.active:active {
  color: #3350e9;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}
/* 
 .menu-link.active::after {
     content: '';
     position: absolute;
     width: 8px;
     height: 8px;
     border-radius: 50%;
     background-color: #3350e9;
     top: 100%;
     right: 15px;
 } */

.menu-link::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #3350e9;
  left: 50%;
  transform: translateX(-50%);
  bottom: -9px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms ease;
}

.menu-link:hover::after,
.menu-link:focus::after {
  opacity: 1;
}
.menu-soc {
}

.menu-soc-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.menu-soc-item {
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 34px;
  height: 34px;
}

.menu-soc-link {
}

.menu-soc-icon {
  fill: #fbfbfb;
}
@media only screen and (min-width: 768px) {
  .menu-overlay {
    width: 330px;
    background-size: cover;
    background-position: center;
    background-image: url(../img/mob-menu/menu-tab.jpg);
  }

  @media screen and (min-resolution: 2x) {
    .menu-overlay {
      background-image: url(../img/mob-menu/menu-tab-2x.jpg);
    }
  }
  .cls-btn-icon {
    width: 40px;
    height: 40px;
  }
}
